@page "/Person/create"
@page "/Person/edit/{Id:int}"
@inject ApplicationDbContext  ApplicationDbContext
@inject NavigationManager NavigationManager

<div class="row mt-2 mb-5">
    <h3 class="card-title text-info mb-3 ml-3">@Title اشخاص</h3>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="person" OnValidSubmit="HandlePersonUpsert">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>نام</label>
                        <InputText @bind-Value="person.FirstName" class="form-control"></InputText>
                        <ValidationMessage For="()=>person.FirstName"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>نام خانوادگی</label>
                        <InputText @bind-Value="person.LastName" class="form-control"></InputText>
                        <ValidationMessage For="()=>person.LastName"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <label>سن</label>
                        <InputNumber @bind-Value="person.Age" class="form-control"></InputNumber>
                        <ValidationMessage For="()=>person.Age"></ValidationMessage>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">ثبت </button>
                        <NavLink href="/" class="btn btn-secondary">بازگشت </NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code
{
    private Person person;
    private string Title ="ایجاد";
    [Parameter] public int? Id { get; set; }
    protected override void OnInitialized()
    {
        if (Id.HasValue)
        {
            // Update Mode
            Title = "تغییر";
            person = ApplicationDbContext.Persons.Where(p => p.Id == Id).Single();
        }
        else
        {
            // Create Mode
            Title = "ایجاد";
            person = new Person();
        }
    }


    private void HandlePersonUpsert()
    {
        if (Id.HasValue)
            ApplicationDbContext.Persons.Update(person);
        else
        ApplicationDbContext.Persons.Add(person);

        ApplicationDbContext.SaveChanges();
        NavigationManager.NavigateTo("/");
    }
}